.calculator, .output {
	border: 2px solid #777;
}

.output {
	height: 60px;
	background-color: #ddd;
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 40px;
	font-family: monospace;
}

.btn {
	margin-right: 5px
}

.debug {
	font-family: monospace;
	font-size: 20px;
	margin-top: 20px;
}